.media img {
  padding: 0.5rem;
  width: 10rem;
  cursor: pointer;
}

.media-body {
  padding: 0.5rem;
  cursor: pointer;
}

.media:hover {
  background-color: #f6f6f6;
}

.media-info {
  margin-bottom: 0.5rem;
}

.media-info-category {
  font-size: 0.7rem;
  margin-left: 1rem;
}

.media-info-price {
  font-size: 0.8rem;
  font-weight: bold;
}

.media-published-on {
  font-size: 0.8rem;
  margin-left: 0.5rem;
  font-style: italic;
  font-weight: normal;
  letter-spacing: 0.05rem;
}

.modal-body i {
  margin-right: 0.5rem;
}

.media-status {
  font-size: 0.8rem;
  color: green;
}

.pagination {
  margin-top: 2rem;
  justify-content: center;
}

.pagination-top {
  margin-top: -2rem;
  width: 100%;
  justify-content: center;
  display: flex;
}

ngb-pagination ::ng-deep a {
  color: #6c757d;
}

ngb-pagination ::ng-deep a:hover {
  color: white;
  background-color: #ffc451;
}

ngb-pagination ::ng-deep .page-item.active .page-link {
  background-color: #ffc451;
  border-color: #dee2e6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px rgba(0, 0, 0, 0);
  outline: 0 none;
}
::ng-deep .pagination li a:focus, ::ng-deep .pagination li a:active {
  border-color: #dee2e6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px rgba(0, 0, 0, 0);
  outline: 0 none;
}

